body {
  height: 90vh;
  background-image: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%);
  font-family: "Ubuntu", sans-serif;
  font-size: 400;
  color: white;
}
.content {
  text-align: center;
}
#demo {
  color: white !important;
  text-shadow: 1px 1px 5px rgb(155, 154, 154);
  font-size: 40px;
}
.logo {
  width: 20%;
  height: 200px;
  object-fit: cover;
}
.content-head {
  text-transform: capitalize;
  font-size: 40px;
}
.content p {
  font-size: 13px;
  padding: 10px 0;
}
.email {
  background-color: white !important;
  color: #999;
  border: none;
  width: 20%;
  height: 40px;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px#0000005e;
}

.email:focus {
  outline: none;
  color: black;
}
.email::placeholder {
  color: #999;
  font-size: 14px;
  padding-left: 15px;
}
.subscribe {
  background-color: #3e2bce;
  color: white;
  height: 41px;
  border: none;
  width: 10%;
  font-size: 12px;
  padding: 0 15px;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px#0000005e;
}

/* mail page */

.mail-body{
  color:#000000ba;
  background-color: white !important;
  background-image: none !important;
  margin: 0 450px;
}
.mail-logo{
  width: 50%;
  height:50px;
  object-fit: cover;
}
.mail-head{
  padding: 20px 0;
  background-color: #3e2bce;
  color: #fffffffa !important;
  text-align: center;

}
.mail-content{
  padding:50px 0;
}
.bold-text{
  font-weight: 700 !important;
  text-decoration: none;
  color:#000000ba;


}
.bold-text:hover{
  text-decoration: underline;
  }
.link-text{
  text-decoration: none;
  color:#000000ba;



}
.link-text:hover{
text-decoration: underline;
}
footer{
  background-color: #3e2bce;
  color: #fffffffa !important;
  padding: 20px 0 40px;
  
}
.footer-content{
  float: right;

}
.footer-text{
  color: #ffffffff !important;
  text-decoration: none;
  
}
.footer-text:hover{
  text-decoration: underline;
}
@media only screen and (max-device-width: 540px) {
  #demo {
    color: white !important;
    text-shadow: 1px 1px 5px rgb(155, 154, 154);
    font-size: 42px;
  }
  .logo {
    width: 60%;
    height: 400px;
  }
  .content-head {
    text-transform: capitalize;
    font-size: 45px;
  }
  .content p {
    font-size: 18px;
  }
  .email {
    width: 30%;
    height: 60px;
  }

  .email::placeholder {
    color: #999;
    font-size: 22px;
    padding-left: 15px;
  }
  .subscribe {
    height: 61px;
    border: none;
    width: 15%;
    font-size: 20px;
    padding: 0 15px;
  }
  
  /* mail page */

.mail-body{

  margin: 5px !important;
}
}

@media only screen and (max-device-width: 425px) {
  body{
    height:100vh !important;
  }
  .logo {
    width: 65% !important;
    height: 200px;
  }
  #demo {
    font-size: 60px;
  }
  .content-head {
    padding-top: 100px;
    font-size: 40px !important;
  }
  .content p {
    font-size: 22px !important;
    padding: 30px 0;
  }
  .email {
    width: 30% !important;
    height: 50px !important;
    border-radius: 3px;
  }

  .email::placeholder {
    color: #999;
    font-size: 20px !important;
    padding-left: 15px;
  }
  .subscribe {
    background-color: #3e2bce !important;
    color: white;
    height: 51px !important;
    border: none;
    width: 10% !important;
    font-size: 18px !important;
    padding: 0 15px !important;
    border-radius: 3px !important;
    box-shadow: 0 8px 6px -6px#0000005e;
  }

  /* mail page */

.mail-body{

  margin: 5px !important;
}
.mail-head{
  padding: 10px 0 !important;
}
}
